data/dialects/TBXcoreStructV03_TBX-Basic_integrated.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
   datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="urn:iso:std:iso:30042:ed-2">
   <define name="entity.basicText">
      <zeroOrMore>
         <choice>
            <text/>
            <ref name="hi"/>
         </choice>
      </zeroOrMore>
   </define>
   <define name="entity.noteText">
      <zeroOrMore>
         <choice>
            <text/>
            <ref name="hi"/>
            <ref name="foreign"/>
            <ref name="sc"/>
            <ref name="ec"/>
            <ref name="ph"/>
         </choice>
      </zeroOrMore>
   </define>
   <define name="entity.auxInfo">
      <choice>
         <zeroOrMore>
            <choice>
               <ref name="descrip"/>
               <ref name="descripGrp"/>
               <ref name="admin"/>
               <ref name="adminGrp"/>
               <ref name="transacGrp"/>
               <ref name="note"/>
               <ref name="ref"/>
               <ref name="xref"/>
            </choice>
         </zeroOrMore>
         <zeroOrMore>
            <choice>
               <ref name="note"/>
               <ref name="adminGrp"/>
               <ref name="descripGrp"/>
               <ref name="transacGrp"/>
               <ref name="DCTnamespaceElements"/>
            </choice>
         </zeroOrMore>
      </choice>
   </define>
   <define name="entity.noteLinkInfo">
      <choice>
         <zeroOrMore>
            <choice>
               <ref name="admin"/>
               <ref name="adminGrp"/>
               <ref name="transacGrp"/>
               <ref name="note"/>
               <ref name="ref"/>
               <ref name="xref"/>
            </choice>
         </zeroOrMore>
         <zeroOrMore>
            <choice>
               <ref name="adminGrp"/>
               <ref name="transacGrp"/>
               <ref name="note"/>
               <ref name="DCTnamespaceElements"/>
            </choice>
         </zeroOrMore>
      </choice>
   </define>
   <define name="idlang.attributes">
      <ref name="id.attributes"/>
      <ref name="lang.attributes"/>
   </define>
   <define name="idtype.attributes">
      <ref name="id.attributes"/>
      <ref name="idtype.attribute.type"/>
   </define>
   <define name="idtype.attribute.type">
      <optional>
         <attribute name="type">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Indicates
               the type of the meta data-category.</a:documentation>
            <text/>
         </attribute>
      </optional>
   </define>
   <define name="id.attributes">
      <optional>
         <ref name="id.attribute.id"/>
      </optional>
   </define>
   <define name="id.attribute.id">
      <attribute name="id">
         <data type="ID"/>
      </attribute>
   </define>
   <define name="target-IDREF.attributes">
      <ref name="target-IDREF.attribute.target"/>
   </define>
   <define name="target-IDREF.attribute.target">
      <optional>
         <attribute name="target">
            <data type="IDREF"/>
         </attribute>
      </optional>
   </define>
   <define name="lang.attributes">
      <ref name="lang.attribute.xmllang"/>
   </define>
   <define name="lang.attribute.xmllang">
      <optional>
         <attribute name="xml:lang">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Indicates
               the language of the element content. The allowed values are found in IETF RFC 4646 or
               its successor. This attribute is optional for elements that use this attribute class.
               For a description, see the information at the tbx element.</a:documentation>
            <data type="language"/>
         </attribute>
      </optional>
   </define>
   <define name="IDLangTgtDtyp.attributes">
      <ref name="lang.attributes"/>
      <ref name="id.attributes"/>
      <ref name="target-IDREF.attributes"/>
      <ref name="IDLangTgtDtyp.attribute.datatype"/>
   </define>
   <define name="IDLangTgtDtyp.attribute.datatype">
      <optional>
         <attribute name="datatype">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The data
               type of plainText, or what is known as PCDATA.</a:documentation>
            <text/>
         </attribute>
      </optional>
   </define>
   <define name="dispEquivSubType.attributes">
      <optional>
         <attribute name="disp">
            <text/>
         </attribute>
         <attribute name="equiv">
            <text/>
         </attribute>
         <choice>
              <group>
                 <attribute name="subType">
                    <data type="string">
                       <param name="pattern">[^\s:]+:[^\s:]+</param>
                    </data>
                 </attribute>
                 <ref name="XLIFFinlineType.attribute"/>
              </group>
            <ref name="XLIFFinlineType.attribute"/>
         </choice>
      </optional>
   </define>
   <define name="XLIFFisolated.attribute">
      <optional>
       <attribute name="isolated">
          <choice>
             <value>yes</value>
             <value>no</value>
          </choice>
       </attribute>
      </optional>
   </define>
   <define name="XLIFFinlineType.attribute">
      <attribute name="type">
         <choice>
            <value>fmt</value>
            <value>ui</value>
            <value>quote</value>
            <value>link</value>
            <value>image</value>
            <value>other</value>
         </choice>
      </attribute>
   </define>
   <define name="hi">
      <element name="hi">
         
         <ref name="hi.content"/>
         <ref name="hi.localattributes"/>
      </element>
   </define>
   <define name="hi.content">
      <text/>
   </define>
   <define name="hi.localattributes">
      <ref name="target-IDREF.attributes"/>
      <ref name="lang.attributes"/>
      <optional>
         <attribute name="type">
            
            <choice>
               <value>entailedTerm</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
                  (entailedTerm) A term, found in the content of a text element such as , that is
                  defined in another terminological entry in the same terminological
                  collection.</a:documentation>
               <value>hotkey</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
                  (hotkey) A key or a combination of keys on a computer keyboard that, when pressed
                  at one time, performs a task (such as starting an application) as an alternative
                  to using a mouse or other input device. Hotkeys are supported by many operating
                  systems and applications (the hotkey is indicated by an ampersand in the term and
                  by an underscore in the visual display). This type of hi element allows a hotkey
                  to be identified as such in a text field such as a context sentence. To identify a
                  hotkey for the head term of an entry, use the lionHotkey value of the type
                  attribute on a termNote.</a:documentation>
               <value>italics</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
                  (italics) Indicates that the content enclosed in the hi element must be rendered
                  in italics. </a:documentation>
               <value>bold</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
                  (bold) Indicates that the content enclosed in the hi element must be rendered in
                  boldface. </a:documentation>
               <value>superscript</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
                  (superscript) Indicates that the content enclosed in the hi element must be
                  rendered in superscript. </a:documentation>
               <value>subscript</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
                  (subscript) Indicates that the content enclosed in the hi element must be rendered
                  in subscript.</a:documentation>
               <value>math</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
                  (math) Indicates that the content enclosed in the hi element is mathematical in
                  nature.</a:documentation>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="foreign">
      <element name="foreign">
         
         <ref name="foreign.content"/>
         <ref name="foreign.localattributes"/>
      </element>
   </define>
   <define name="foreign.content">
      <ref name="entity.noteText"/>
   </define>
   <define name="foreign.localattributes">
      <ref name="idlang.attributes"/>
   </define>
   <define name="sc">
      <element name="sc">
         
         <ref name="sc.content"/>
         <ref name="sc.localattributes"/>
      </element>
   </define>
   <define name="sc.content">
      <empty/>
   </define>
   <define name="sc.localattributes">
      <attribute name="id">
         <data type="ID"/>
      </attribute>
      <optional>
         <ref name="dispEquivSubType.attributes"/>
         <ref name="target-IDREF.attributes"/>
         <ref name="XLIFFisolated.attribute"/>
      </optional>
   </define>
   <define name="ec">
      <element name="ec">
         
         <ref name="ec.content"/>
         <ref name="ec.localattributes"/>
      </element>
   </define>
   <define name="ec.content">
      <empty/>
   </define>
   <define name="ec.localattributes">
      <optional>
            <attribute name="id">
               <data type="ID"/>
            </attribute>
            <attribute name="startRef">
               <data type="IDREF"/>
            </attribute>
            <ref name="dispEquivSubType.attributes"/>
            <ref name="XLIFFisolated.attribute"/>
            <ref name="target-IDREF.attributes"/>
      </optional>
   </define>
   <define name="ph">
      <element name="ph">
         <ref name="ph.content"/>
         <ref name="ph.localattributes"/>
      </element>
   </define>
   <define name="ph.content">
      <empty/>
   </define>
   <define name="ph.localattributes">
      <optional>
         <attribute name="id">
            <data type="ID"/>
         </attribute>
         <ref name="dispEquivSubType.attributes"/>
      </optional>
   </define>
   <define name="admin">
      <element name="admin">
         
         <ref name="admin.content"/>
         <ref name="admin.localattributes"/>
      </element>
   </define>
   <define name="admin.content">
      <ref name="entity.noteText"/>
   </define>
   <define name="admin.localattributes">
      <ref name="IDLangTgtDtyp.attributes"/>
      <attribute name="type">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Indicates
            the data-category type of the admin element, such as originatingDatabase or
            entrySource.</a:documentation>
         
            <ref name="admin.types"/>
         
      </attribute>
      <ref name="dca.attributes"/>
   </define>
   <define name="adminGrp">
      <element name="adminGrp">
         
         <ref name="adminGrp.content"/>
         <ref name="adminGrp.localattributes"/>
      </element>
   </define>
   <define name="adminGrp.content">
      <choice>
         <group>
            <ref name="admin"/>
            <zeroOrMore>
               <choice>
                  <ref name="adminNote"/>
                  <ref name="note"/>
                  <ref name="ref"/>
                  <ref name="xref"/>
               </choice>
            </zeroOrMore>
         </group>
         <group>
            <ref name="DCTnamespaceElements"/>
            <zeroOrMore>
               <choice>
                  <ref name="note"/>
                  <ref name="DCTnamespaceElements"/>
               </choice>
            </zeroOrMore>
         </group>
      </choice>
   </define>
   <define name="adminGrp.localattributes">
      <ref name="id.attributes"/>
   </define>
   <define name="adminNote">
      <element name="adminNote">
         
         <ref name="adminNote.content"/>
         <ref name="adminNote.localattributes"/>
      </element>
   </define>
   <define name="adminNote.content">
      <text/>
   </define>
   <define name="adminNote.localattributes">
      <ref name="IDLangTgtDtyp.attributes"/>
      <attribute name="type">
         
         
            <ref name="adminNote.types"/>
         
      </attribute>
      <ref name="dca.attributes"/>
   </define>
   <define name="date">
      <element name="date">
         
         <ref name="date.content"/>
         <ref name="date.localattributes"/>
      </element>
   </define>
   <define name="date.content">
      <data type="date"/>
   </define>
   <define name="date.localattributes">
      <ref name="id.attributes"/>
   </define>
   <define name="descrip">
      <element name="descrip">
         
         <ref name="descrip.content"/>
         <ref name="descrip.localattributes"/>
      </element>
   </define>
   <define name="descrip.content">
      <ref name="entity.noteText"/>
   </define>
   <define name="descrip.localattributes">
      <ref name="IDLangTgtDtyp.attributes"/>
      <attribute name="type">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Indicates
            the data-category type of the descrip element, such as definition or
            associated-concept.</a:documentation>
         
            <ref name="descrip.types"/>
         
      </attribute>
      <ref name="dca.attributes"/>
   </define>
   <define name="descripGrp">
      <element name="descripGrp">
         
         <ref name="descripGrp.content"/>
         <ref name="descripGrp.localattributes"/>
      </element>
   </define>
   <define name="descripGrp.content">
      <choice>
         <group>
            <ref name="descrip"/>
            <zeroOrMore>
               <choice>
                  <ref name="descripNote"/>
                  <ref name="admin"/>
                  <ref name="adminGrp"/>
                  <ref name="transacGrp"/>
                  <ref name="note"/>
                  <ref name="ref"/>
                  <ref name="xref"/>
               </choice>
            </zeroOrMore>
         </group>
         <group>
            <ref name="DCTnamespaceElements"/>
            <zeroOrMore>
               <choice>
                  <ref name="note"/>
                  <ref name="adminGrp"/>
                  <ref name="transacGrp"/>
                  <ref name="DCTnamespaceElements"/>
               </choice>
            </zeroOrMore>
         </group>
      </choice>
   </define>
   <define name="descripGrp.localattributes">
      <ref name="id.attributes"/>
   </define>
   <define name="descripNote">
      <element name="descripNote">
         
         <ref name="descripNote.content"/>
         <ref name="descripNote.localattributes"/>
      </element>
   </define>
   <define name="descripNote.content">
      <text/>
   </define>
   <define name="descripNote.localattributes">
      <ref name="IDLangTgtDtyp.attributes"/>
      <attribute name="type">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Indicates
            the data-category type of the descripNote element, such as
            contextType.</a:documentation>
         
            <ref name="descripNote.types"/>
         
      </attribute>
      <ref name="dca.attributes"/>
   </define>
   <define name="langSec">
      <element name="langSec">
         
         <ref name="langSec.content"/>
         <ref name="langSec.localattributes"/>
      </element>
   </define>
   <define name="langSec.content">
      <ref name="entity.auxInfo"/>
      <oneOrMore>
         <choice>
            <ref name="termSec"/>
         </choice>
      </oneOrMore>
   </define>
   <define name="langSec.localattributes">
      <attribute name="xml:lang">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Indicates
            the language of the language section. This attribute is required for the langSec
            element. See also the description on the tbx element.</a:documentation>
         <text/>
      </attribute>
   </define>
   <define name="note">
      <element name="note">
         
         <ref name="note.content"/>
         <ref name="note.localattributes"/>
      </element>
   </define>
   <define name="note.content">
      <ref name="entity.noteText"/>
   </define>
   <define name="note.localattributes">
      <ref name="idlang.attributes"/>
   </define>
   <define name="ref">
      <element name="ref">
         
         <ref name="ref.content"/>
         <ref name="ref.localattributes"/>
      </element>
   </define>
   <define name="ref.content">
      <text/>
   </define>
   <define name="ref.localattributes">
      <ref name="IDLangTgtDtyp.attributes"/>
      <attribute name="type">
         
         
            <ref name="ref.types"/>
         
      </attribute>
      <ref name="dca.attributes"/>
   </define>
   <define name="term">
      <element name="term">
         <ref name="term.content"/>
         <ref name="term.localattributes"/>
      </element>
   </define>
   <define name="term.content">
      <ref name="entity.basicText"/>
   </define>
   <define name="term.localattributes">
      <ref name="id.attributes"/>
   </define>
   <define name="conceptEntry">
      <element name="conceptEntry">
         
         <ref name="conceptEntry.content"/>
         <ref name="conceptEntry.localattributes"/>
      </element>
   </define>
   <define name="conceptEntry.content">
      <ref name="entity.auxInfo"/>
      <oneOrMore>
         <ref name="langSec"/>
      </oneOrMore>
   </define>
   <define name="conceptEntry.localattributes">
      <ref name="id.attribute.id"/>
   </define>
   <define name="termNote">
      <element name="termNote">
         <ref name="termNote.content"/>
         <ref name="termNote.localattributes"/>
      </element>
   </define>
   <define name="termNote.content">
      <ref name="entity.noteText"/>
   </define>
   <define name="termNote.localattributes">
      <ref name="IDLangTgtDtyp.attributes"/>
      <attribute name="type">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Indicates
            the data-category type of the termNote, such as partOfSpeech or
            termType.</a:documentation>
            <ref name="termNote.types"/>
      </attribute>
      <ref name="dca.attributes"/>
   </define>
   <define name="termNoteGrp">
      <element name="termNoteGrp">
         <ref name="termNoteGrp.content"/>
         <ref name="termNoteGrp.localattributes"/>
      </element>
   </define>
   <define name="termNoteGrp.content">
      <choice>
         <ref name="termNote"/>
         <ref name="DCTnamespaceElements"/>
      </choice>
      <ref name="entity.noteLinkInfo"/>
   </define>
   <define name="termNoteGrp.localattributes">
      <ref name="id.attributes"/>
   </define>
   <define name="termSec">
      <element name="termSec">
         <ref name="termSec.content"/>
         <ref name="termSec.localattributes"/>
      </element>
   </define>
   <define name="termSec.content">
      <ref name="term"/>
      <choice>
         <zeroOrMore>
            <choice>
               <ref name="termNote"/>
               <ref name="termNoteGrp"/>
            </choice>
         </zeroOrMore>
         <zeroOrMore>
            <ref name="DCTnamespaceElements"/>
         </zeroOrMore>
      </choice>
      <ref name="entity.auxInfo"/>
   </define>
   <define name="termSec.localattributes">
      <ref name="id.attributes"/>
   </define>
   <define name="transac">
      <element name="transac">
         <ref name="transac.content"/>
         <ref name="transac.localattributes"/>
      </element>
   </define>
   <define name="transac.content">
      <text/>
   </define>
   <define name="transac.localattributes">
      <ref name="IDLangTgtDtyp.attributes"/>
      <attribute name="type">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The
            attribute value transactionType ensures that the content of the transac element will be
            a transaction type.</a:documentation>
            <ref name="transac.types"/>
      </attribute>
      <ref name="dca.attributes"/>
   </define>
   <define name="transacGrp">
      <element name="transacGrp">
         <ref name="transacGrp.content"/>
         <ref name="transacGrp.localattributes"/>
      </element>
   </define>
   <define name="transacGrp.content">
      <choice>
         <group>
            <ref name="transac"/>
            <zeroOrMore>
               <choice>
                  <ref name="transacNote"/>
                  <ref name="date"/>
                  <ref name="note"/>
                  <ref name="ref"/>
                  <ref name="xref"/>
               </choice>
            </zeroOrMore>
         </group>
         <group>
            <ref name="DCTnamespaceElements"/>
            <zeroOrMore>
               <choice>
                  <ref name="date"/>
                  <ref name="note"/>
                  <ref name="DCTnamespaceElements"/>
               </choice>
            </zeroOrMore>
         </group>
      </choice>
   </define>
   <define name="transacGrp.localattributes">
      <ref name="id.attributes"/>
   </define>
   <define name="transacNote">
      <element name="transacNote">
         
         <ref name="transacNote.content"/>
         <ref name="transacNote.localattributes"/>
      </element>
   </define>
   <define name="transacNote.content">
      <text/>
   </define>
   <define name="transacNote.localattributes">
      <ref name="IDLangTgtDtyp.attributes"/>
      <attribute name="type">
            <ref name="transacNote.types"/>
      </attribute>
      <ref name="dca.attributes"/>
   </define>
   <define name="xref">
      <element name="xref">
         <ref name="xref.content"/>
         <ref name="xref.localattributes"/>
      </element>
   </define>
   <define name="xref.content">
      <text/>
   </define>
   <define name="xref.localattributes">
      <ref name="id.attributes"/>
      <attribute name="target">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The URI of
            the external object.</a:documentation>
         <data type="anyURI">
            <param name="pattern">https?://.+</param>
         </data>
      </attribute>
      <attribute name="type">
            <ref name="xref.types"/>
      </attribute>
      <ref name="dca.attributes"/>
   </define>
   <define name="tbx">
      <element name="tbx">
         <ref name="tbx.content"/>
         <ref name="tbx.localattributes"/>
      </element>
   </define>
   <define name="tbx.content">
      <ref name="tbxHeader"/>
      <ref name="text"/>
   </define>
   <define name="tbx.localattributes">
      <attribute name="style">
         <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0"> Indicates
            whether the file adheres to Data Category as Tag or Data Category as Attribute, DCT or
            DCA, style. </documentation>
         <choice>
            <value>dca</value>
            <value>dct</value>
         </choice>
      </attribute>
      <attribute name="xml:lang">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Indicates
            the default language of the entire tbx element content. The allowed values of the
            xml:lang attribute are found in IETF RFC 4646 or its successor, as indicated in IETF BCP
            47. This attribute is required for the tbx element.</a:documentation>
         <text/>
      </attribute>
      <attribute name="type">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Indicates
            the type of tbx document. If the type attribute value TBX is used, then the TBX document
            instance shall adhere to the default XCS file. If the TBX document instance adheres to
            another XCS file, then the type attribute value can consist of TBX- plus another word
            associated with the XCS file, such as 'TBX-Basic'.</a:documentation>
         <data type="string">
            <param name="pattern">TBX-.+</param>
         </data>
      </attribute>
   </define>
   <define name="tbxHeader">
      <element name="tbxHeader">
         <ref name="tbxHeader.content"/>
         <ref name="tbxHeader.localattributes"/>
      </element>
   </define>
   <define name="tbxHeader.content">
      <ref name="fileDesc"/>
      <optional>
         <ref name="encodingDesc"/>
      </optional>
      <optional>
         <ref name="revisionDesc"/>
      </optional>
   </define>
   <define name="tbxHeader.localattributes">
      <ref name="id.attributes"/>
   </define>
   <define name="p">
      <element name="p">
         
         <ref name="p.content"/>
         <ref name="p.localattributes"/>
      </element>
   </define>
   <define name="p.content">
      <ref name="entity.noteText"/>
   </define>
   <define name="p.localattributes">
      <ref name="idlang.attributes"/>
      <optional>
         <attribute name="type">
            <text/>
         </attribute>
      </optional>
   </define>
   <define name="fileDesc">
      <element name="fileDesc">
         
         <ref name="fileDesc.content"/>
         <ref name="fileDesc.localattributes"/>
      </element>
   </define>
   <define name="fileDesc.content">
      <optional>
         <ref name="titleStmt"/>
      </optional>
      <optional>
         <ref name="publicationStmt"/>
      </optional>
      <oneOrMore>
         <ref name="sourceDesc"/>
      </oneOrMore>
   </define>
   <define name="fileDesc.localattributes">
      <ref name="id.attributes"/>
   </define>
   <define name="titleStmt">
      <element name="titleStmt">
         
         <ref name="titleStmt.content"/>
         <ref name="titleStmt.localattributes"/>
      </element>
   </define>
   <define name="titleStmt.content">
      <ref name="title"/>
      <zeroOrMore>
         <ref name="note"/>
      </zeroOrMore>
   </define>
   <define name="titleStmt.localattributes">
      <ref name="idlang.attributes"/>
   </define>
   <define name="title">
      <element name="title">
         
         <ref name="title.content"/>
         <ref name="title.localattributes"/>
      </element>
   </define>
   <define name="title.content">
      <text/>
   </define>
   <define name="title.localattributes">
      <ref name="idlang.attributes"/>
   </define>
   <define name="publicationStmt">
      <element name="publicationStmt">
         
         <ref name="publicationStmt.content"/>
         <ref name="publicationStmt.localattributes"/>
      </element>
   </define>
   <define name="publicationStmt.content">
      <oneOrMore>
         <ref name="p"/>
      </oneOrMore>
   </define>
   <define name="publicationStmt.localattributes">
      <ref name="id.attributes"/>
   </define>
   <define name="sourceDesc">
      <element name="sourceDesc">
         <ref name="sourceDesc.content"/>
         <ref name="sourceDesc.localattributes"/>
      </element>
   </define>
   <define name="sourceDesc.content">
      <oneOrMore>
         <ref name="p"/>
      </oneOrMore>
   </define>
   <define name="sourceDesc.localattributes">
      <ref name="idlang.attributes"/>
   </define>
   <define name="encodingDesc">
      <element name="encodingDesc">
         
         <ref name="encodingDesc.content"/>
         <ref name="encodingDesc.localattributes"/>
      </element>
   </define>
   <define name="encodingDesc.content">
      <oneOrMore>
         <ref name="p"/>
      </oneOrMore>
   </define>
   <define name="encodingDesc.localattributes">
      <ref name="id.attributes"/>
   </define>
   <define name="revisionDesc">
      <element name="revisionDesc">
         
         <ref name="revisionDesc.content"/>
         <ref name="revisionDesc.localattributes"/>
      </element>
   </define>
   <define name="revisionDesc.content">
      <oneOrMore>
         <ref name="change"/>
      </oneOrMore>
   </define>
   <define name="revisionDesc.localattributes">
      <ref name="idlang.attributes"/>
   </define>
   <define name="change">
      <element name="change">
         
         <ref name="change.content"/>
         <ref name="change.localattributes"/>
      </element>
   </define>
   <define name="change.content">
      <oneOrMore>
         <ref name="p"/>
      </oneOrMore>
   </define>
   <define name="change.localattributes">
      <ref name="idlang.attributes"/>
   </define>
   <define name="text">
      <element name="text">
         
         <ref name="text.content"/>
         <ref name="text.localattributes"/>
      </element>
   </define>
   <define name="text.content">
      <ref name="body"/>
      <optional>
         <ref name="back"/>
      </optional>
   </define>
   <define name="text.localattributes">
      <ref name="id.attributes"/>
   </define>
   <define name="body">
      <element name="body">
         
         <ref name="body.content"/>
         <ref name="body.localattributes"/>
      </element>
   </define>
   <define name="body.content">
      <oneOrMore>
         <ref name="conceptEntry"/>
      </oneOrMore>
   </define>
   <define name="body.localattributes">
      <ref name="id.attributes"/>
   </define>
   <define name="back">
      <element name="back">
         
         <ref name="back.content"/>
         <ref name="back.localattributes"/>
      </element>
   </define>
   <define name="back.content">
      <zeroOrMore>
         <ref name="refObjectSec"/>
      </zeroOrMore>
   </define>
   <define name="back.localattributes">
      <ref name="id.attributes"/>
   </define>
   <define name="refObjectSec">
      <element name="refObjectSec">
         
         <ref name="refObjectSec.content"/>
         <ref name="refObjectSec.localattributes"/>
      </element>
   </define>
   <define name="refObjectSec.content">
      <oneOrMore>
         <ref name="refObject"/>
      </oneOrMore>
   </define>
   <define name="refObjectSec.localattributes">
      <ref name="id.attributes"/>
      <attribute name="type">
         <text/>
      </attribute>
   </define>
   <define name="refObject">
      <element name="refObject">
         <ref name="refObject.content"/>
         <ref name="refObject.localattributes"/>
      </element>
   </define>
   <define name="refObject.content">
      <oneOrMore>
         <choice>
            <ref name="itemSet"/>
            <ref name="itemGrp"/>
            <ref name="item"/>
         </choice>
      </oneOrMore>
   </define>
   <define name="refObject.localattributes">
      <ref name="id.attributes"/>
   </define>
   <define name="item">
      <element name="item">
         
         <ref name="item.content"/>
         <ref name="item.localattributes"/>
      </element>
   </define>
   <define name="item.content">
      <ref name="entity.noteText"/>
   </define>
   <define name="item.localattributes">
      <ref name="idtype.attributes"/>
   </define>
   <define name="itemGrp">
      <element name="itemGrp">
         
         <ref name="itemGrp.content"/>
         <ref name="itemGrp.localattributes"/>
      </element>
   </define>
   <define name="itemGrp.content">
      <ref name="item"/>
      <ref name="entity.noteLinkInfo"/>
   </define>
   <define name="itemGrp.localattributes">
      <ref name="id.attributes"/>
   </define>
   <define name="itemSet">
      <element name="itemSet">
         
         <ref name="itemSet.content"/>
         <ref name="itemSet.localattributes"/>
      </element>
   </define>
   <define name="itemSet.content">
      <oneOrMore>
         <choice>
            <ref name="item"/>
            <ref name="itemGrp"/>
         </choice>
      </oneOrMore>
   </define>
   <define name="itemSet.localattributes">
      <ref name="idtype.attributes"/>
   </define>



   <!-- DCA specific module attribute -->
   <define name="dca.attributes">
      <optional>
         <attribute name="module">
            <text/>
         </attribute>
      </optional>
   </define>

   <!-- Extension Points for DCT -->
   <define name="DCTnamespaceElements">
      <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0"> This is an
         extension point for TBX data categories which are brought in from another namespace to form
         a dialect. </documentation>
      <element>
         <anyName>
            <except>
               <nsName ns="urn:iso:std:iso:30042:ed-2"/>
            </except>
         </anyName>
         <zeroOrMore>
            <choice>
               <attribute>
                  <anyName>
                     <except>
                        <nsName ns="urn:iso:std:iso:30042:ed-2"/>
                     </except>
                  </anyName>
               </attribute>
               <text/>
               <ref name="DCTnamespaceElements"/>
            </choice>
         </zeroOrMore>
      </element>
   </define>

   <!-- Extension Points for DCA type values. If co-constraint validation is required, such constraints must be supplied via a Schematron file -->
   <define name="admin.types">

      <choice>
         <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">
            <p>For an integrated schema for use in DCA, replace &lt;text/&gt; with the allowed
               values of the "type" attribute.</p>
         </documentation>
         <value>customerSubset</value>
         <value>projectSubset</value>
         <value>source</value>
      </choice>

   </define>
   <define name="adminNote.types">

      <choice>
         <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">
            <p>For an integrated schema for use in DCA, replace &lt;text/&gt; with the allowed
               values of the "type" attribute.</p>
         </documentation>
         <empty/>
      </choice>
   </define>
   <define name="descrip.types">

      <choice>
         <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">
            <p>For an integrated schema for use in DCA, replace &lt;text/&gt; with the allowed
               values of the "type" attribute.</p>
         </documentation>
         <value>context</value>
         <value>definition</value>
         <value>subjectField</value>
      </choice>

   </define>
   <define name="descripNote.types">
      <choice>
         <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">
            <p>For an integrated schema for use in DCA, replace &lt;text/&gt; with the allowed
               values of the "type" attribute.</p>
         </documentation>
         <empty/>
      </choice>

   </define>
   <define name="ref.types">
      <choice>
         <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">
            <p>For an integrated schema for use in DCA, replace &lt;text/&gt; with the allowed
               values of the "type" attribute.</p>
         </documentation>
         <value>crossReference</value>
      </choice>

   </define>
   <define name="transac.types">

      <choice>
         <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">
            <p>For an integrated schema for use in DCA, replace &lt;text/&gt; with the allowed
               values of the "type" attribute.</p>
         </documentation>
         <value>transactionType</value>
      </choice>

   </define>
   <define name="transacNote.types">

      <choice>
         <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">
            <p>For an integrated schema for use in DCA, replace &lt;text/&gt; with the allowed
               values of the "type" attribute.</p>
         </documentation>
         <value>responsibility</value>
      </choice>

   </define>
   <define name="xref.types">

      <choice>
         <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">
            <p>For an integrated schema for use in DCA, replace &lt;text/&gt; with the allowed
               values of the "type" attribute.</p>
         </documentation>
         <value>externalCrossReference</value>
         <value>xGraphic</value>
      </choice>

   </define>

   <define name="termNote.types">

      <choice>
         <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">
            <p>For an integrated schema for use in DCA, replace &lt;text/&gt; with the allowed
               values of the "type" attribute.</p>
         </documentation>
         <value>administrativeStatus</value>
         <value>grammaticalGender</value>
         <value>geographicalUsage</value>
         <value>partOfSpeech</value>
         <value>termLocation</value>
         <value>termType</value>
      </choice>

   </define>

   <start>
      <ref name="tbx"/>
   </start>
</grammar>
